
.DS_Store
*.log
*.swp
*.swo
*.swn
*.bak
*.tmp


myvenv/
calc-be-main-2/.env
calc-be-main-2/__pycache__/
calc-be-main-2/*.py[cod]
calc-be-main-2/*.so
calc-be-main-2/.Python
calc-be-main-2/build/
calc-be-main-2/develop-eggs/
calc-be-main-2/dist/
calc-be-main-2/downloads/
calc-be-main-2/eggs/
calc-be-main-2/.eggs/
calc-be-main-2/lib/
calc-be-main-2/lib64/
calc-be-main-2/parts/
calc-be-main-2/sdist/
calc-be-main-2/var/
calc-be-main-2/wheels/
calc-be-main-2/*.egg-info/
calc-be-main-2/.installed.cfg
calc-be-main-2/*.egg
calc-be-main-2/MANIFEST
calc-be-main-2/.pytest_cache/
calc-be-main-2/htmlcov/
calc-be-main-2/.tox/
calc-be-main-2/.nox/
calc-be-main-2/.coverage
calc-be-main-2/.mypy_cache/
calc-be-main-2/.pyre/
calc-be-main-2/.pytype/
calc-be-main-2/cython_debug/
calc-be-main-2/db.sqlite3
calc-be-main-2/db.sqlite3-journal
calc-be-main-2/instance/
calc-be-main-2/.webassets-cache
calc-be-main-2/docs/_build/
calc-be-main-2/target/
calc-be-main-2/.pdm.toml
calc-be-main-2/__pypackages__/
calc-be-main-2/celerybeat-schedule
calc-be-main-2/celerybeat.pid
calc-be-main-2/.venv/
calc-be-main-2/env/
calc-be-main-2/venv/
calc-be-main-2/env.bak/
calc-be-main-2/venv.bak/


calc-fe-main-2/node_modules/
calc-fe-main-2/.next/
calc-fe-main-2/out/
calc-fe-main-2/dist/
calc-fe-main-2/build/
calc-fe-main-2/coverage/
calc-fe-main-2/.local
calc-fe-main-2/.env
calc-fe-main-2/.DS_Store
calc-fe-main-2/.vscode/
calc-fe-main-2/.idea/
calc-fe-main-2/logs/
calc-fe-main-2/npm-debug.log*
calc-fe-main-2/yarn-debug.log*
calc-fe-main-2/yarn-error.log*
calc-fe-main-2/pnpm-debug.log*
calc-fe-main-2/lerna-debug.log*

.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
